## compiled scripts
limit
best
merge-broke
merge

## execution traces
src/*.path
src/*.disasm

## results
out
results
gen.*
runs
*.conf
*.my
00*
*.path
*.s
coverage*
*.debug.*
*.cache
repair*

## archives
*.tar.bz2
