## compiled scripts
limit
large-limit
lorem
best
merge-broke
merge
a.out
**.fasl
**.lx32fsl

## execution traces
src/*.path
src/*.disasm

## results
out
results
gen.*
runs
*.my
0*
*.path
*.s
coverage*
*.debug.*
*.cache
repair*
**.store

## archives and results
*.tar.bz2
variants

## NFS
.nfs*

## running cruft
insertion.c
sort
trace
scratch
sh-runner
.RData
.Rhistory
