## compiled scripts
limit
best
merge-broke
merge
a.out

## execution traces
src/*.path
src/*.disasm

## results
out
results
gen.*
runs
*.conf
*.my
0*
*.path
*.s
coverage*
*.debug.*
*.cache
repair*

## archives
*.tar.bz2

## NFS
.nfs*

## running cruft
insertion.c
sort
trace
scratch
sh-runner
.RData
.Rhistory
