bubble
insertion
merge
merge-broke
quick
*.s
*.o
*.cmo
*.cmi
*.cmx
*.hi
*.samp
*.map
*.addrs
*.path
*.store
*.output
*.stdout
bubble-c
bubble-cpp
bubble-hs
bubble-ml
insertion-c
insertion-cpp
insertion-hs
insertion-ml
merge-c
merge-cpp
merge-hs
merge-ml
quick-c
quick-cpp
quick-hs
quick-ml
seed
